/* 📱 Tablet (max-width: 1024px) */
@media (max-width: 1024px) {

}

/* 📱 Mobile (max-width: 768px) */
@media (max-width: 768px) {

}

/* 📱 Small Mobile (max-width: 480px) */
@media (max-width: 480px) {
.navbar-collapse{
    position: absolute;
    background: rgb(255, 255, 255);
    left: 0;
    right: 0;
    top: 101%;
}
.service_main_section {
    padding: 30px 0;
}
.service_detail_item.active {
    display: block;
}
.sub_title h3{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.blurb_text_why .blurb_text h4 {
    margin-bottom: 4px;
    font-size: 16px;
}
.slick-prev {
    left: 0px !important;
}
.slick-next {
    right: 0 !important;
}
.tz-blog2-item .item-img {
    width: 100%;
}
.tz-blog2-item .item-text {
    width: 100%;
}
.tz-blog2-item .item-text .blog_title {
    padding-bottom: 0px;
}
.inder_Sec{
    padding: 3rem 0;
}
.tab_hss span {
    font-size: 14px;
}
.sub_title p {
    text-align: justify;
    font-size: 15px;
}
.service_detail_content {
    padding: 8px;
}
.tabs_box .nav{
    flex-wrap: nowrap !important;
}
.hlth-tech-section:first-child {
    padding: 0;
}
.hlth-tech-section+.hlth-tech-section
 {
    padding: 0 0 0 13px;
}
.hlth-tech-section h3 {
    margin-bottom: 0.6rem;
    font-size: 15px;
}
.hlth-tech-skill img {
    width: 65px;
    height: 65px;
}
.hlth-tech-skill p {
    font-size: 14px;
}
.brands-grid {
    gap: 24px;
    padding: 6px;
    grid-template-columns: repeat(3, 1fr);
}
.circle-outer {
    width: 100px;
    height: 100px;
}
.circle-outer::before {
    width: 101px;
    height: 101px;
}
.logos {
    padding: 3px 0 20px;
}
.preciour_client{
    padding-top: 3%;
}
.item{
    height: auto;
}
.testimonial-card img{
    width: 40%;
    }
    .slick-slide{
        width: 100% !important;
    }
    
      
      .background_image{
        padding: 11% 0;
      }
      .footer-social-icon{
        margin-bottom: 17px;
      }
      .footer_second h3 {
        margin-bottom: 8%;
      }

}