*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
}
a{
  text-decoration: none;
}
.top-header {
  background-color: #E6F0FB !important;
  position: relative;
  z-index: 1;
  padding:6px 3.3rem;

  @media (min-width: 1600px) {
      padding: 6px 255px 6px 255px;
  }

  @media (max-width: 1199px) {
      padding: 6px 30px;
  }

  @media (max-width: 991px) {
      background: #086ad7;
      padding: 6px 15px;
  }

  &::before {
      position: absolute;
      content: "";
      height: 100%;
      background: #086ad7;
      width: 714px;
      -webkit-clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
      top: 0;
      left: 0;

      @media (max-width: 991px) {
          display: none;
      }
  }
  
  .header-cta { 

      ul { 
          margin: 0;
          padding: 0;

          li {
              display: inline-block;
              padding-right: 25px;
              position: relative;
              margin-right: 25px;
              
              @media (max-width: 991px) {
                  padding-right: 20px;
                  margin-right: 20px;
              }
              
              &::before {
                  position: absolute;
                  content: "";
                  top: 50%;
                  transform: translateY(-50%);
                  background: rgba(255, 255, 255, 0.3);
                  width: 2px;
                  height: 20px;
                  right: 0;
              }

              &:last-child {
                  &::before { 
                      display: none;
                  }
              }

  
              a { 
                  display: inline-block;
                  color: #fff;
                  font-weight: 400;
                  font-size: 16px;
  
                  i { 
                      margin-right: 5px;
                  }
              }
          }
      }
  }

  .header-right-cta {
      color: #5397e3;

      @media (max-width: 991px) {
          color: #fff;
      }

      .social-profile {
          a {
              color: #696969;
              margin-left: 15px;
              font-size: 15px;

              &:hover {
                  color: #086ad7;
              }

              @media (max-width: 991px) {
                  color: #fff;
              }
          }
      }
  }
}

/* button section start */


.wrapper a{
  transform: translate(0, 0);
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-family: arial;
  position: relative;
  padding: 10px 56px;
  overflow: hidden;
  background: #086AD7;
  text-transform: uppercase;
  transition: all .35s;
}

.wrapper a:before,
.wrapper a:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #2e0b6f;
  z-index: -1;
  transition: all .35s;
}

.wrapper a:before{
  opacity: .5;
}

.wrapper a:after{
  transition-delay: .2s;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:before,
.wrapper a:hover:after{
  top: 0;
}
/* button section end */
.logo_header{
  width: 183px;
}

.navbar-light .navbar-nav .nav-link.active{
  color: #2e0b6f;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #2e0b6f;
}

/* .navbar-nav .nav-link.active:before, .navbar-nav .nav-link:hover:before {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.navbar-nav .nav-link:before {
  content: "\f2f6";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: inherit;
  transition: .3s;
  opacity: 0;
  transform: translate(-10px);
  position: absolute;
  left: -12px;
} */
.wrappers ul{
  margin-bottom: 0 !important;
}
.wrappers ul li{
  list-style: none;
}
.wrappers ul li:first-child{
  border-bottom: 1px solid #ddd;
}
.wrappers ul li a{
  color: #2e0b6f;
  font-size: 15px;
}
.align_nav{
  align-items: center;
}
.sub_menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_menu i{
 font-size: 30px;
}
/* Show submenu on hover */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  display: none;
  top: 0;
  left: 100%;
  margin-left: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* Keep parent open */
.dropdown:hover > .dropdown-menu {
  display: block;
}


/* scroll page  */
.scroll-top-btn {
  position: fixed;
  right: 1px;
  bottom: 20%;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background: #4b1fa7;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 9999;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-top-btn:hover {
  transform: translateY(-3px);
}